<section class="about">
  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <article>
    <p>Jungle sells assortment of items that promote peak performance in life!<p>
  </article>
</section> 